*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
body{
    
    font-family: Roboto, sans-serif;
    text-align: center;
    
    
}
header{
    background-color:#0A001A;
}
h2{
    font-size:18px;
    color:blue;
}